[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"backports.zoneinfo" = "*"
celery = "*"
conversion = "*"
dj-database-url = "*"
django = "*"
django-extensions = "*"
django-filter = "*"
django-fsm = "*"
django-guardian = "*"
django-model-utils = "*"
django-redis = "*"
django-simple-history = "*"
django-social-auth = "*"
djangorestframework = "*"
gevent = "*"
gunicorn = "*"
python-dateutil = "*"
redis = "*"
requests = "*"
whitenoise = "*"
"zope.interface" = "*"
"zope.event" = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"
mock = "*"
pytest-django = "*"

[pipenv]
allow_prereleases = true
