[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
conversion = "*"
dj-database-url = "*"
django = "*"
django-extensions = "*"
django-fsm = "*"
django-guardian = "*"
django-model-utils = "*"
django-redis = "*"
django-simple-history = "*"
django-social-auth = "*"
djangorestframework = "*"
gevent = "*"
gunicorn = "*"
redis = "*"
whitenoise = "*"

[dev-packages]
compose-flow = "*"

[requires]
python_version = "3.6"
