{% load compress %}{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Baseline{% endblock %}</title>
        {% block stylesheets %}{% compress css %}<link type="text/css" rel="stylesheet" href="{% static "stylesheets/bootstrap.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "stylesheets/baseline.css" %}" />{% endcompress %}{% endblock %}
        {% block javascripts %}{% compress js %}<script type="text/javascript" src="{% static "javascripts/jquery-1.8.3.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/underscore.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/backbone.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/ajax_setup.js" %}"></script>{% endcompress %}{% endblock %}
    </head>
    <body>{% block body %}
        <div id="page" class="container">{% block page %}
            <div id="content">{% block content %}{% endblock %}</div><!-- #content -->
        {% endblock page %}</div><!-- #page -->
    {% endblock body %}</body>
</html>
