body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  }

h1,h2,h3,h4,h5,h6,p {
  margin-left: 10px;
  }

.header-ruler {
  margin-top: 0;
  }

.right {
  text-align: right;
  margin-right: 5px;
  }

#page {
  padding: 20px;
  }
