{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome to Baseline{% endblock %}</title>
        {% block css_pre %}{% endblock %}
        <link type="text/css" rel="stylesheet" href="{% static "stylesheets/reset.css" %}" />
        {% block css %}<link type="text/css" rel="stylesheet" href="{% static "stylesheets/baseline.css" %}" />{% endblock %}
        {% block javascripts_pre %}{% endblock %}{% block default_javascripts %}
        <script type="text/javascript" src="{% static "javascripts/jquery-1.7.1.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/underscore.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/backbone.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/jquery-1.7.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/underscore-min.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/backbone-min.js" %}"></script>
        <script type="text/javascript" src="{% static "javascripts/ajax_setup.js" %}"></script>
        {% endblock default_javascripts %}{% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
