{% extends "baseline/base.html" %}

{% block title %}Welcome to Baseline{% endblock %}

{% block content %}

<div class="row">
    <div class="span4 offset8">
        <p class="right">{% if user.is_authenticated %}
        Hi, {{ user }} <a class="btn btn-primary" href="/logout/">Logout</a>
        {% else %}<a class="btn btn-primary" href="/login/google/">Google Login</a>
        {% endif %}</p>
    </div>
</div>

<div class="row">
    <div class="hero-unit">
      <h1>Welcome to baseline</h1>
      <p>Deploy Django on Heroku in seconds.</p>
    </div>
</div>

<div class="row">
    <h2>What is baseline?</h2>

    <p>Basline is a ready-made Django project that helps you get working on
    what your application does rather than repetetive boilerplate.  The project
    includes some best-of-breed selections to get you off the ground
    quickly.  Heroku makes getting your application out to the world a
    single-command operation.</p>

    <h2>What is included?</h2>

    <p>Baseline includes a great mix of Django apps, JavaScripts, and CSS to
    get you ramped up quickly.</p>

    <h3>Django 1.4</h3>
    <p>It lets you build high-performing, elegant Web applications quickly.</p>
    <p><a href="https://www.djangoproject.com/">Website</a></p>

    <h3>South</h3>
    <p>South is a tool to provide consistent, easy-to-use and database-agnostic
    migrations for Django applications.</p>
    <p><a href="http://south.aeracode.org/docs/">Website</a></p>

    <h3>Social Auth</h3>
    <p>Django social authentication made simple</p>
    <p><a href="https://github.com/omab/django-social-auth">Website</a></p>

    <h3>TastyPie</h3>
    <p>It provides a convenient, yet powerful and highly customizable,
    abstraction for creating REST-style interfaces.</p>
    <p><a href="http://django-tastypie.readthedocs.org/en/latest/index.html">Website</a></p>

    <h3>Simplejson</h3>
    <p>Simple, fast, extensible JSON encoder/decoder for Python</p>
    <p><a href="http://pypi.python.org/pypi/simplejson/">Website</a></p>

    <h3>Mock</h3>
    <p>It allows you to replace parts of your system under test with mock
    objects and make assertions about how they have been used.</p>
    <p><a href="http://www.voidspace.org.uk/python/mock/">Website</a></p>

    <h3>JQuery</h3>
    <p>jQuery is a fast and concise JavaScript Library that simplifies HTML
    document traversing, event handling, animating, and Ajax interactions for
    rapid web development.</p>
    <p><a href="http://jquery.com/">Website</a></p>

    <h3>Backbone</h3>
    <p>Backbone.js gives structure to web applications by providing models with
    key-value binding and custom events, collections with a rich API of
    enumerable functions, views with declarative event handling, and connects
    it all to your existing API over a RESTful JSON interface.</p>
    <p><a href="http://documentcloud.github.com/backbone/">Website</a></p>

    <h3>Twitter Bootstrap</h3>
    <p>Simple and flexible HTML, CSS, and Javascript for popular user interface
    components and interactions.</p>
    <p><a href="http://twitter.github.com/bootstrap/">Website</a></p>
</div>
{% endblock content %}
